<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBSBIxND5DsNXAf399LgT_dxYBoMH2purs</string>
	<key>GCM_SENDER_ID</key>
	<string>954299630025</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.akshaymatreios.TradeSegment</string>
	<key>PROJECT_ID</key>
	<string>trade-segment</string>
	<key>STORAGE_BUCKET</key>
	<string>trade-segment.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:954299630025:ios:421884c4dbeffc876de818</string>
</dict>
</plist>